@{
    ViewBag.Title = "Yönetim Paneli";
}

<p>Yönetim paneline hoşgeldiniz.</p>

<h2>Zengin Metin Editörü Örneği</h2>
<p>Küçük Ödev: Bu örneği kullanarak yazıların düzenleme sayfasını yapınız.</p>

<form method="post">
    <div>
        <label for="icerik">İçerik: </label>
        <textarea id="icerik" name="icerik" class="summernote"></textarea>
    </div>

    <button>Kaydet</button>
</form>